@page "{id:int?}"
@model Proiect_Final.Pages.Chelneri.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Chelner[0].NumeChelner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ChelnerData.Chelneri)
        {
            string selectedRow = "";
            if (item.ID == Model.ChelnerID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.NumeChelner)
            </td>
            <td>
                    <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.ChelnerData.Rezervari != null)
{
    <h3>Clientii pe care îi au Chelnerul selectat</h3>
    <table class="table">

        @foreach (var item in Model.ChelnerData.Chelneri)
        {
            string selectedRow = "";
            if (item.ID == Model.ChelnerID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">

                <td>
                    @{
                        foreach (var b in item.Rezervari)
                        {

                            @b.NumeRestaurant @: @b.Client.NumeIntreg

                            <br />
                        }
                    }
                </td>
            </tr>
        }
    </table>
}

